{% extends 'base.html' %}
{% block title %}
Detail
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container">
    <h3 style="width:70%; margin:auto;">MATERIALLAR</h3>
    <hr>
    <h1 style="width:70%; margin:auto;">{{resource.name}}</h1>
    <div class="card" style="width:70%; margin:auto;">
        <ul style="list-style-type: none;">
           
            <li>
             {% if resource.file %}
            <a href="{{ resource.file.url }}">{{resource.file.url}}</a> 
             {% endif %}
            </li>
            
           
        </ul>
           
      </div>
</div>

{% endblock %}