{% extends 'base.html' %}
{% block title %}
Exam 
{% endblock %}

{% block style %}

{% endblock %}

{% load duration %}

{% block content %}

 {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <h3 style="width:70%; margin:auto;"><small style="font-size:50%">PLATFORMA</small></h3>
    <h3 style="width:70%; margin:auto;">İmtahanlar</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Adı</th>
        <th scope="col">Statusu</th>
        <th scope="col">Başlanma tarixi</th>
        <th scope="col">Müddət</th>
        <th scope="col">Mənbə</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for data in mydata%}
        <th scope="row">{{data.name}}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for exam in exams %}
        <th scope="row"><a href="{% url 'a_app:exam_detail' exam.id %} " style="text-decoration:none">{{exam.name}}</a></th>
        {% if exam.status %}
        <td>Bitib</td>
        {% else %}
        <td>Davam edir</td>
        {% endif %}
        <td>{{exam.start_date}}</td>
        <td>{{exam.duration | duration}}</td>
        <td>{{exam.file_type}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
