{% extends 'base.html' %}
{% block title %} 
Index Page
{% endblock %}

{% block style %}
<style>
    .container{
        align-items:center;
        margin:auto;
    }
   
    
</style>
{% endblock %}


{% block content %}


    <div class="container">
        {% if request.user.is_authenticated %}
        <h3 style="width:70%; margin:auto;">PLATFORMA</h3>
        <h1 style="width:70%; margin:auto;">Salam, {{request.user.first_name}} {{request.user.last_name}} {{request.user.account.father_name}} !</h1>
        <div class="card" style="width:70%; margin:auto;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Önə Çıxarılmış Materiallar</b></li>
              {% for resource in resources %}
              <li class="list-group-item">{{ resource.name }}</li>
              {% endfor %}
            </ul>
          </div>
          {% else %}
          <h1>Zehmet olmasa hesabiniza daxil olun!</h1>
          <!--Asaqidakini o vaxti yaziriq ki link her hansi sehifaye gedirse-->
          <a href="{% url 'a_app:login' %}">Hesabina daxilolun</a>
          {% endif %}
    </div>

{% endblock %} 