{% extends 'base.html' %}
{% block title %}
Materiallar
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <h3 style="width:70%; margin:auto;">PLATFORMA</h3>
    <h1 style="width:70%; margin:auto;">Materiallar </h1>
    <div class="card" style="width:70%; margin:auto;">
        <ul style="list-style-type: none;">
            {% for resource in resources %}
            <li>
                <!--asaqida resource sehifesinden resource detaile linkle kecmisik ve eyi zamanda id-ni de oturmusuk-->
            <a href="{% url 'a_app:resource_detail' resource.id %}">{{resource.name}} {{resource.date}}</a>
            </li>
            <hr>
            {% endfor %}
        </ul>
           
      </div>
</div>
{% endblock %}
