{% extends 'base.html' %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}



<div class="container">


<form method ='POST'>
    {% csrf_token %}

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name= "username" class="form-control" id="username" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label">Name</label>
        <input type="text" name= "first_name" class="form-control" id="first_name" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Surname</label>
        <input type="text" name= "last_name" class="form-control" id="last_name" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name= "email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" name= "password1" class="form-control" id="password1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" name= "password2" class="form-control" id="password2" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="istifadeci" class="form-label">Istifadeci</label>
        <input type="text" name= "istifadeci" class="form-control" id="istifadeci" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="category" class="form-select" id="category">
            <option value="T">Teacher</option>
            <option value="S">Student</option>
        </select>
    </div>

    <div class="mb-3">
      <label for="father_name" class="form-label">Ata adı</label>
      <input type="text" name= "father_name" class="form-control" id="father_name" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"></div>
    </div>
    
    <div class="mb-3">
      <label for="phone_num" class="form-label">Əlaqə nömrəsi</label>
      <input type="tel" name= "phone_num" class="form-control" id="phone_num" aria-describedby="emailHelp" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
      <div id="emailHelp" class="form-text"></div>
    </div>
    

        
        <input type="submit" name= "submit" id="submit" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}

